<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">



    <!--通过duboo发布服务 -->
    <dubbo:application name="dubbo_cluster_003_p"></dubbo:application>

    <!--将服务注册到指定的注册中心-->
    <dubbo:registry address="multicast://224.5.6.7:1234"></dubbo:registry>

    <!--指定服务的协议 和 使用端口号   注意此处服务端使用客户端无需使用 -->
    <dubbo:protocol name="dubbo" port="20883"></dubbo:protocol>


    <dubbo:provider timeout="5000"></dubbo:provider>                                              <!--定义超时时间方式一-->
    <!--注册服务到注册中心-->
    <dubbo:service interface="com.tiza.leo.service.UserService" ref="userService" timeout="4000"> <!--定义超时时间方二-->
        <dubbo:method name="findName" timeout="3000"></dubbo:method>                              <!--定义超时时间方式三-->
    </dubbo:service>

    <!--服务提供者-->
    <bean id="userService" class="com.tiza.leo.service.UserServiceImpl"></bean>
    
</beans>